import Image from "next/image";
import Twitter from "../../images/icons/twitter.svg";
import Facebook from "../../images/icons/facebook.svg";
import Instagram from "../../images/icons/instagram.svg";
import Linkedin from "../../images/icons/linkedin.svg";

<div className=" text-xl flex justify-center gap-16 py-3 text-gray-600 ">
  <a href="https://twitter.com/vzsecured">
    <Image src={Twitter} alt="Twitter" />
  </a>
  <a href="https://www.linkedin.com/in/vaibhav-zadane-476461215/">
    <Image src={Linkedin} alt="Linkedin" />
  </a>
  <a href="#">
    <Image src={Facebook} alt="Facebook" />
  </a>
  <a href="#">
    <Image src={Instagram} alt="Instagram" />
  </a>
</div>
<div className=" pb-14"></div>